<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA_RL8qBOeEtowEu6ut3wwZserbVbMm_8s</string>
	<key>GCM_SENDER_ID</key>
	<string>135750495924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Clemtek.Best-Man-Challenge</string>
	<key>PROJECT_ID</key>
	<string>best-man-challenge</string>
	<key>STORAGE_BUCKET</key>
	<string>best-man-challenge.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:135750495924:ios:ddbd0e7e9a343bcc83b1e1</string>
</dict>
</plist>